{
  "presets": [["latest",{"modules": false}],"stage-2"],
  "plugins": [
    ["transform-vue-jsx", "transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
