{
  "presets": ["latest","stage-2",["env", {
    "targets": {
      "browsers": ["last 2 versions", "ie >=11"]
    }
  }]],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true
    }]
  ],
  "comments": false
}