.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.ant-divider {
  margin: 0 4px;
  color: #999;
  display: inline-block;
  height: 8px;
  width: 1px;
  background: #ccc;
}

code,
kbd,
pre,
samp {
  font-family: @code-family;
}

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  .container-fixed();
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Contextual colors
.text-muted {
  color: @normal-color;
}
.text-primary {
  color: @primary-color;
}
.text-success {
  color: @success-color;
}
.text-warning {
  color: @warning-color;
}
.text-error {
  color: @error-color;
}
.text-dark {
  color: @dark-color;
}

//文本大小
.text-md {
  font-size: @font-size-md;
}
.text-lg {
  font-size: @font-size-lg;
}
.text-xl {
  font-size: @font-size-xl;
}
.text-xxl {
  font-size: @font-size-xxl;
}

//背景区块
.bg-primary {
  color: #fff;
  background-color: @primary-color;
}
.bg-success {
  color: #fff;
  background-color: @success-color;
}
.bg-warning {
  color: #fff;
  background-color: @warning-color;
}
.bg-error {
  color: #fff;
  background-color: @error-color;
}
.bg-muted {
  background-color: @normal-color
}

//margin
.generate-margins(25);
.generate-margins-side(left, 25);
.generate-margins-side(right, 25);
.generate-margins-side(top, 25);
.generate-margins-side(bottom, 25);

//padding
.generate-paddings(25);
.generate-paddings-side(left, 25);
.generate-paddings-side(right, 25);
.generate-paddings-side(top, 25);
.generate-paddings-side(bottom, 25);